.desk-item-container .desk-item-header {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 20px 20px 0;
  width: 100%;
  justify-content: space-between;
}

.desk-item-header .user-btn {
  background: var(--foreground);
  padding: 8px;
  padding-right: 25px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid var(--light-gray);
}
.image-control,
.external-link-icon {
  opacity: 0;
  transition: 0.2s ease;
  top: 50%;
  z-index: 9;

  position: absolute;
}
#desk-item-wrapper {
  transition: transform 0.23s;
  height: 100%;
  width: 200%;
  display: flex;
}
.desk-item-container .desk-item-body:hover .image-control,
.desk-item-container .desk-item-body:hover .image-control,
.desk-item-container .desk-item-body:hover .external-link-icon {
  opacity: 0.5;
}

.desk-item-container {
  transition: transform 0.3s;
  display: flex;
  height: 100%;
  flex: 0.5;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
}
.desk-item-container .desk-item-body h5 {
  padding: 30px;
}
.desk-item-container .desk-item-body {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  flex: 1;
  align-items: center;
  margin: 20px;
  max-width: 400px;
  min-width: 290px;
  justify-content: center;
  text-align: center;
  position: relative;
  color: var(--dark-gray);
  background: var(--light-gray);
}
.desk-item-container .desk-item-body p {
  padding: 40px;
}
.desk-item-actions {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 15px;
}
.vote-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.vote-count {
  margin-left: 6px;
  color: var(--dark-gray);
}

@media screen and (min-width: 1024px) {
  .download-button {
    padding: 10px;
  }
}
